@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.poster-objects {
  background-color: "#310047";
  width: 100vw; 
  height: 40vh;
  min-height: 300px;
  padding: 0, 20px;
}   

.poster-title {
    color: #fff;
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 10px;
}

.poster-desc {
    color: #fff;
    font-size: 1rem;
    font-family: 'Zen Dots', cursive;
    margin-bottom: 10px;
}